#customize-theme-controls .accordion-section-title {
	letter-spacing: 0 !important;
    padding: 10px 15px !important;
}

#customize-control-colon_label_misc_ts_settings,
#customize-control-colon_enable_block_styles,
#customize-control-colon_enable_block_wide_alignment {
	display: none !important;
}