a:hover {
  font-size: 14px;
}

body.home .arrival-transparent-header .main-header-wrapp.boxed .container {
  font-size: 26px;
}

.site-description {
  font-size: 22px;
  line-height: 39px;
}

.site-title {
  font-size: 41px;
}

header.hover-layout-two .main-header-wrapp nav.main-navigation ul.arrival-main-navigation>li.menu-item>a {
  font-size: 18px;
}

.top-left-wrapp {
  font-size: 15px;
}

path {
  font-size: -2px;
}

.site-title a {
  font-size: -10px;
}

.elementor-widget-video .e-hosted-video .elementor-video {
  
}